DEBUG=True
SECRET_KEY=change-me
DB_NAME=your_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

DEFAULT_FROM_EMAIL=sadeghox@gmail.com
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_HOST_USER=sadeghox@gmail.com
EMAIL_HOST_PASSWORD=your-google-app-password
EMAIL_TIMEOUT=10
