:root {
  --primary: #E6007E;
  --secondary: #00AEEF;
  --accent: #FFD100;
  --dark: #1A1A1A;

  --bg: #1A1A1A;
  --text: #ffffff;

  --card: #2a2a2a;
  --border: #E6007E;
}

body {
  background: var(--bg);
  color: var(--text);
}