/* Reset ساده */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #111;
}

/* layout wrapper */
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}